/*===============================================
 SASS elements
 */
*, *:before, *:after {
  box-sizing: border-box; }

html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

/* Main content colors */
/* Interface colors */
/*===============================================
 Global Styling
 */
body {
  margin-top: 80px;
  font-family: "Roboto Slab", Georgia, serif;
  font-size: 18px; }

h1, h2, h3, h4, h5, h6 {
  margin: 1em 0 0.5em 0;
  line-height: 1.1em; }

h1 {
  font-size: 56px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 24px; }

hr {
  border: 0;
  border-top: 3px solid white;
  width: 50%;
  min-width: 300px; }

p {
  text-align: left; }

/*===============================================
 Header
 */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #25424e;
  z-index: 1; }
  header #header-content {
    width: 100%;
    margin: 0 auto;
    max-width: 1170px;
    position: relative;
    height: 100%; }
  header #logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    font-size: 22px;
    color: white;
    font-weight: bold;
    cursor: pointer; }
  header #nav-toggle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 3px 0 #040709;
    -moz-box-shadow: 0 3px 0 #040709;
    box-shadow: 0 3px 0 #040709;
    padding: 10px 30px;
    color: #25424e;
    font-family: "Roboto Slab", Georgia, serif;
    font-size: 18px;
    font-weight: bold;
    border: 0;
    background-color: white;
    text-decoration: none;
    display: none;
    position: absolute;
    right: 5%; }
    @media (max-width: 768px) {
      header #nav-toggle {
        display: inline-block; } }
  header nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%; }
    @media (max-width: 768px) {
      header nav {
        top: 80px;
        background-color: #355f71;
        transform: none;
        left: 0;
        right: 0;
        display: none; } }
  header li {
    list-style: none;
    display: inline-block; }
    @media (max-width: 768px) {
      header li {
        display: block; } }
  header a {
    -webkit-transition: 200ms ease-out;
    -moz-transition: 200ms ease-out;
    -ms-transition: 200ms ease-out;
    -o-transition: 200ms ease-out;
    transition: 200ms ease-out;
    color: white;
    text-decoration: none;
    padding: 15px; }
    @media (max-width: 768px) {
      header a {
        display: block;
        padding: 15px 5%; } }
  header a:hover {
    background-color: rgba(255, 255, 255, 0.2); }

/*===============================================
 Main Content
 */
.content-box {
  width: 100%;
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;
  padding: 50px 5%;
  text-align: center; }

#contact-content {
  background-color: #ce3832; }

/*===============================================
 Welcome Intro
 */
#welcome-content {
  background-color: #3cce74; }
  #welcome-content p {
    text-align: center; }

/*===============================================
 Portfolio
 */
#portfolio-content {
  background-color: #e1e0c7; }
  #portfolio-content .content-box {
    text-align: center; }
  #portfolio-content .application-box {
    -webkit-transition: 150ms ease-out;
    -moz-transition: 150ms ease-out;
    -ms-transition: 150ms ease-out;
    -o-transition: 150ms ease-out;
    transition: 150ms ease-out;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    width: 300px;
    height: 300px;
    margin: 15px;
    padding: 15px;
    vertical-align: top;
    background: white url(http://localhost/Documents/Web/portfolio/portfolio/images/image-default-800x600.png) no-repeat center;
    background-size: cover; }
    #portfolio-content .application-box h3 {
      margin: 0.25em 0; }
    #portfolio-content .application-box .modal-links {
      display: none; }
  #portfolio-content .application-box:hover {
    background-color: white; }

/*===============================================
 About / Icons
 */
#about-content {
  background-color: #d68d27; }
  #about-content .icons {
    margin: 40px 0; }
  #about-content img {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    width: 120px;
    height: auto;
    vertical-align: middle;
    margin: 15px;
    padding: 15px;
    background-color: white; }
  #about-content .about-action {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 3px 0 #218347;
    -moz-box-shadow: 0 3px 0 #218347;
    box-shadow: 0 3px 0 #218347;
    padding: 10px 30px;
    color: white;
    font-family: "Roboto Slab", Georgia, serif;
    font-size: 18px;
    font-weight: bold;
    border: 0;
    background-color: #3cce74;
    text-decoration: none; }
  #about-content .about-action:hover {
    color: #8ee2ae; }
  #about-content .about-action:active {
    -webkit-box-shadow: 0 0 0 #218347;
    -moz-box-shadow: 0 0 0 #218347;
    box-shadow: 0 0 0 #218347;
    position: relative;
    top: 3px; }

/*===============================================
 Contact Form
 */
form {
  width: 100%;
  margin: 0 auto;
  max-width: 700px; }
  form input,
  form textarea {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border: 0;
    font-family: "Roboto Slab", Georgia, serif;
    font-size: 18px; }
  form .form-error {
    line-height: 1em;
    text-align: left;
    margin: -8px 0 5px 0;
    color: white; }
  form button {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 3px 0 #7c211e;
    -moz-box-shadow: 0 3px 0 #7c211e;
    box-shadow: 0 3px 0 #7c211e;
    padding: 10px 30px;
    color: #ce3832;
    font-family: "Roboto Slab", Georgia, serif;
    font-size: 18px;
    font-weight: bold;
    border: 0;
    background-color: white;
    text-decoration: none; }
  form button:hover {
    color: #e28884; }
  form button:active {
    -webkit-box-shadow: 0 0 0 #7c211e;
    -moz-box-shadow: 0 0 0 #7c211e;
    box-shadow: 0 0 0 #7c211e;
    position: relative;
    top: 3px; }
  form #form-submit-message {
    text-align: center;
    color: white;
    padding: 15px;
    border-radius: 5px;
    font-weight: bold; }
  form .success {
    border: 2px solid white;
    background-color: #7dac36; }
  form .error {
    border: 2px solid white;
    background-color: #ce3832; }

#form-value {
  display: none; }

/*===============================================
 Footer
 */
footer {
  text-align: center; }
  footer p {
    text-align: center; }
    footer p a {
      padding: 0 10px; }
  footer a {
    text-decoration: none; }
  footer a:hover {
    text-decoration: underline; }
  footer .icons-social {
    font-size: 0; }
    footer .icons-social img {
      -webkit-transition: 150ms ease-out;
      -moz-transition: 150ms ease-out;
      -ms-transition: 150ms ease-out;
      -o-transition: 150ms ease-out;
      transition: 150ms ease-out;
      width: 50px;
      height: 50px;
      margin: 15px; }
    footer .icons-social img:hover {
      opacity: 0.6; }
  footer .copyright {
    font-size: 14px; }

/*===============================================
 Footer
 */
.disable-scroll {
  overflow-y: hidden; }

.modal {
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  z-index: 2;
  display: none; }
  .modal div.button-close {
    width: 100%;
    height: 100px;
    border: 0;
    background: #f8f8f8;
    font-size: 72px;
    color: #aaa;
    text-align: center; }
  .modal .modal-links {
    text-align: center; }
    .modal .modal-links a {
      padding: 5px 10px; }
  .modal img {
    width: 100%;
    max-width: 600px;
    height: auto; }
  .modal button.button-close {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 3px 0 #e28884;
    -moz-box-shadow: 0 3px 0 #e28884;
    box-shadow: 0 3px 0 #e28884;
    padding: 10px 30px;
    color: white;
    font-family: "Roboto Slab", Georgia, serif;
    font-size: 18px;
    font-weight: bold;
    border: 0;
    background-color: #ce3832;
    text-decoration: none; }
  .modal button.button-close:hover {
    color: #e28884; }
  .modal button.button-close:active {
    -webkit-box-shadow: 0 0 0 #e28884;
    -moz-box-shadow: 0 0 0 #e28884;
    box-shadow: 0 0 0 #e28884;
    position: relative;
    top: 3px; }

.modal-open {
  display: block; }

/*===============================================
 Loading Spinner Animation
 */
.loading-spinner {
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  border-top: 3px solid white;
  border-right: 3px solid white;
  width: 18px;
  height: 18px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
  margin: -3px 0 0 10px; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/*# sourceMappingURL=styles.css.map */
