/*===============================================
 SASS elements/variables
 */

@import 'reset';

$serif-fonts: 'Roboto Slab', Georgia, serif;
$normal-font-size: 18px;
$normal-radius: 5px;

/* Main content colors */
$header-bg-color: #283132;
$welcome-bg-color: #36B1BF;
$portfolio-bg-color: #E9F1DF;
$about-bg-color: #F5A503;
$contact-bg-color: #3cce74;
$footer-bg-color: $header-bg-color;
$footer-text-color: #b4b4b4;

/* Interface colors */
$success-green: #3cce74;
$error-red: #ce3832;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin vertical-box-shadow($size, $color) {
  -webkit-box-shadow: 0 $size 0 $color;
  -moz-box-shadow: 0 $size 0 $color;
  box-shadow: 0 $size 0 $color;
}

@mixin content-centered-base {
  width: 100%;
  margin: 0 auto;
}

@mixin normal-content-centered {
  @include content-centered-base;
  max-width: 1170px;
}

@mixin small-content-centered {
  @include content-centered-base;
  max-width: 940px;
}

@mixin x-small-content-centered {
  @include content-centered-base;
  max-width: 720px;
}

@mixin center-vertical-absolute {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin center-horizontal-absolute {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

@mixin button-white($color, $color-d) {
  @include border-radius($normal-radius);
  @include vertical-box-shadow(3px, $color-d);
  padding: 10px 30px;
  color: $color-d;
  font-family: $serif-fonts;
  font-size: $normal-font-size;
  font-weight: bold;
  border: 0;
  background-color: white;
  text-decoration: none;
}

@mixin button-dark($color, $color-d) {
  @include border-radius($normal-radius);
  @include vertical-box-shadow(3px, $color-d);
  padding: 10px 30px;
  color: white;
  font-family: $serif-fonts;
  font-size: $normal-font-size;
  font-weight: bold;
  border: 0;
  background-color: $color;
  text-decoration: none;
}

@mixin hover-fade($speed) {
  -webkit-transition: $speed ease-out;
  -moz-transition: $speed ease-out;
  -ms-transition: $speed ease-out;
  -o-transition: $speed ease-out;
  transition: $speed ease-out;
}

/*===============================================
 Global Styling
 */

body {
  font-family: $serif-fonts;
  font-size: $normal-font-size;
  min-width: 300px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.5em 0;
  line-height: 1.1em;
}

h1 { font-size: 48px; }

h2 { font-size: 36px; }

h3 { font-size: 24px; }

hr {
  border: 0;
  border-top: 3px solid black;
  width: 100%;
  max-width: 300px;
  margin: 20px auto;
}

/* "lazy loading" CSS that works in tandem with the little JS snippet from David Walsh */
img {
  opacity: 1;
  transition: opacity 0.3s;
}

img[data-src] {
  opacity: 0;
}

p {
  text-align: left;
  overflow-wrap: break-word;
}

span.prevent-line-break {
  display: inline-block;
}

/*===============================================
 Header
 */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: $header-bg-color;
  z-index: 3;
  min-width: 300px;

  #header-content {
    @include normal-content-centered();
    position: relative;
    height: 100%;
  }

  #logo {
    @include center-vertical-absolute;
    left: 5%;
    max-height: 80px;
    max-width: 80px;
    display: block;
  }

  #logo-text {
    font-size: 22px;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }

  #nav-toggle {
    @include center-vertical-absolute;
    @include button-white($header-bg-color, darken($header-bg-color, 20%));
    display: none;
    position: absolute;
    right: 5%;
    @media (max-width: 768px) {
      display: inline-block;
    }
  }

  nav {
    @include center-vertical-absolute;
    right: 5%;

    @media (max-width: 768px) {
      display: none;
    }

    li {
      list-style: none;
      display: inline-block;

      @media (max-width: 768px) {
        display: block;
      }
    }

    a {
      @include hover-fade(200ms);
      color: white;
      text-decoration: none;
      padding: 15px;
      @media (max-width: 768px) {
        display: block;
        padding: 15px 5%;
      }
    }
  }

  #main-nav-mobile {
    top: 80px;
    background-color: lighten($header-bg-color, 10%);
    transform: none;
    left: 0;
    right: 0;

    @media (min-width: 769px) {
      display: none;
    }

    li {
      display: block;
    }

    a {
      display: block;
      padding: 15px 5%;
    }
  }

  a:hover {
    background-color: rgba(255,255,255,0.2);
  }
}

/*===============================================
 Main Content
 */

.content-box {
  @include normal-content-centered();
  width: 100%;
  padding: 50px 5%;
  text-align: center;
}

#contact-content {
  background-color: $contact-bg-color;
  
  p {
    text-align: center;
  }
}

/*===============================================
 Welcome Intro
 */

#welcome-content {
  background-color: $welcome-bg-color;
  padding-top: 80px;

  .splash-image {
    width: 100%;
    max-width: 277px;
    height: auto;
  }

  p {
    text-align: center;
  }
}

/*===============================================
 Portfolio
 */

#portfolio-content {
  background-color: $portfolio-bg-color;

  .content-box {
    text-align: center;
  }

  .application-link {
    cursor: pointer;
  }

  .application-box {
    @include hover-fade(150ms);
    @include border-radius($normal-radius);
    display: inline-block;
    width: 45%;
    height: 350px;
    margin: 2%;
    padding: 15px;
    vertical-align: top;
    background-color: black;
    position: relative;
    overflow: hidden;

    @media (max-width: 768px) {
      width: 96%;
      max-width: 530px;
      height: 300px;
    }

    h3 {
      @include center-vertical-absolute;
      margin: 0.25em 0;
      opacity: 1;
      color: white;
      z-index: 1;
      width: 90%;
      text-shadow: 0 1px 20px rgba(0,0,0,0.75);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }

    .modal-links {
      display: none;
    }

    img {
      @include hover-fade(150ms);
      @include center-horizontal-absolute;
      top: 0;
      height: 100%;
      width: auto;
      opacity: 0.35;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
  }

  .application-box:hover {

    img {
      opacity: 0.75;
    }
  }
}

/*===============================================
 About / Icons
 */

#about-content {
  background-color: $about-bg-color;

  .icons {
    margin: 40px 0;
    font-size: 0;
  }

  img {
    @include border-radius(5px);
    width: 125px;
    height: auto;
    vertical-align: middle;
    margin: 15px;
    padding: 15px;
    background-color: white;

    @media (max-width: 420px) {
      width: 110px;
      margin: 10px;
      padding: 12px;
    }
  }

  .about-action {
    @include button-dark($welcome-bg-color, darken($welcome-bg-color, 20%));
    display: inline-block;
    margin: 20px 0;
  }

  .about-action:hover {
    color: lighten($welcome-bg-color, 20%);
  }

  .about-action:active {
    @include vertical-box-shadow(0, darken($welcome-bg-color, 20%));
    position: relative;
    top: 3px;
  }
}

/*===============================================
 Contact Form
 */

form {
  @include x-small-content-centered;

  input,
  textarea {
    @include border-radius($normal-radius);
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border: 0;
    font-family: $serif-fonts;
    font-size: $normal-font-size;
  }

  .form-error {
    line-height: 1em;
    text-align: left;
    margin: -8px 0 5px 0;
    color: white;
  }

  button {
    @include button-white($contact-bg-color, darken($contact-bg-color, 20%));
  }

  button:hover {
    color: $contact-bg-color;
  }

  button:active {
    @include vertical-box-shadow(0, darken($contact-bg-color, 20%));
    position: relative;
    top: 3px;
  }

  #form-submit-message {
    text-align: center;
    color: white;
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
  }

  .success {
    border: 2px solid white;
    background-color: $success-green;
  }

  .error {
    border: 2px solid white;
    background-color: $error-red;
  }

}

#form-value {
  display: none;
}

/*===============================================
 Footer
 */

footer {
  background-color: $footer-bg-color;
  text-align: center;
  color: $footer-text-color;

  p {
    text-align: center;

    a {
      padding: 0 10px;
      color: $footer-text-color;

      @media (max-width: 420px) {
        font-size: 14px;
      }
    }
  }

  a {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  .icons-social {
    font-size: 0;

    img {
      @include hover-fade(150ms);
      width: 50px;
      height: 50px;
      margin: 15px;
      opacity: 0.6;
    }

    img:hover {
      opacity: 1;
    }
  }

  .copyright {
    font-size: 14px;
  }
}

/*===============================================
 Modal windows
 */

.disable-scroll {
  overflow: hidden;
}

.modal {
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  z-index: 5;
  display: none;

  .content-box {
    @include x-small-content-centered();
    padding-top: 20px;
  }

  div.button-close {
    width: 100%;
    height: 100px;
    border: 0;
    background: #f8f8f8;
    font-size: 72px;
    color: #aaa;
    text-align: center;
    cursor: pointer;
  }

  h2 {
    margin: 0.5em 0 1em 0;
  }

  img {
    @include border-radius($normal-radius);
    width: 100%;
    max-width: 600px;
    height: auto;
    border: 10px solid #e8e8e8;
  }

  .modal-links {
    text-align: center;

    a {
      padding: 5px 10px;
    }
  }

  ul {
    text-align: left;
    padding-left: 2em;
    margin: 1em 0;
  }

  button.button-close {
    @include button-dark($error-red, lighten($error-red, 20%));
    cursor: pointer;
  }

  button.button-close:hover {
    color: lighten($error-red, 20%);
  }

  button.button-close:active {
    @include vertical-box-shadow(0, lighten($error-red, 20%));
    position: relative;
    top: 3px;
  }
}

.modal-open {
  display: block;
}

/*===============================================
 Loading Spinner Animation
 */

.loading-spinner {
  border: 3px solid rgba(0,0,0,0.2);
  border-radius: 50%;
  border-top: 3px solid white;
  border-right: 3px solid white;
  width: 18px;
  height: 18px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
  margin: -3px 0 0 10px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}